@using System.Data;
@*<style>
        .checkbox-wrapper-8 .tgl {
            display: none;
        }

            .checkbox-wrapper-8 .tgl,
            .checkbox-wrapper-8 .tgl:after,
            .checkbox-wrapper-8 .tgl:before,
            .checkbox-wrapper-8 .tgl *,
            .checkbox-wrapper-8 .tgl *:after,
            .checkbox-wrapper-8 .tgl *:before,
            .checkbox-wrapper-8 .tgl + .tgl-btn {
                box-sizing: border-box;
            }

                .checkbox-wrapper-8 .tgl::-moz-selection,
                .checkbox-wrapper-8 .tgl:after::-moz-selection,
                .checkbox-wrapper-8 .tgl:before::-moz-selection,
                .checkbox-wrapper-8 .tgl *::-moz-selection,
                .checkbox-wrapper-8 .tgl *:after::-moz-selection,
                .checkbox-wrapper-8 .tgl *:before::-moz-selection,
                .checkbox-wrapper-8 .tgl + .tgl-btn::-moz-selection,
                .checkbox-wrapper-8 .tgl::selection,
                .checkbox-wrapper-8 .tgl:after::selection,
                .checkbox-wrapper-8 .tgl:before::selection,
                .checkbox-wrapper-8 .tgl *::selection,
                .checkbox-wrapper-8 .tgl *:after::selection,
                .checkbox-wrapper-8 .tgl *:before::selection,
                .checkbox-wrapper-8 .tgl + .tgl-btn::selection {
                    background: none;
                }

                .checkbox-wrapper-8 .tgl + .tgl-btn {
                    outline: 0;
                    display: block;
                    width: 4em;
                    height: 2em;
                    position: relative;
                    cursor: pointer;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                }

                    .checkbox-wrapper-8 .tgl + .tgl-btn:after,
                    .checkbox-wrapper-8 .tgl + .tgl-btn:before {
                        position: relative;
                        display: block;
                        content: "";
                        width: 50%;
                        height: 100%;
                    }

                    .checkbox-wrapper-8 .tgl + .tgl-btn:after {
                        left: 0;
                    }

                    .checkbox-wrapper-8 .tgl + .tgl-btn:before {
                        display: none;
                    }

                .checkbox-wrapper-8 .tgl:checked + .tgl-btn:after {
                    left: 50%;
                }

        .checkbox-wrapper-8 .tgl-skewed + .tgl-btn {
            overflow: hidden;
            transform: skew(-10deg);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            transition: all 0.2s ease;
            font-family: sans-serif;
            background: #888;
        }

            .checkbox-wrapper-8 .tgl-skewed + .tgl-btn:after,
            .checkbox-wrapper-8 .tgl-skewed + .tgl-btn:before {
                transform: skew(10deg);
                display: inline-block;
                transition: all 0.2s ease;
                width: 100%;
                text-align: center;
                position: absolute;
                line-height: 2em;
                font-weight: bold;
                color: #fff;
                text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
            }

            .checkbox-wrapper-8 .tgl-skewed + .tgl-btn:after {
                left: 100%;
                content: attr(data-tg-on);
            }

            .checkbox-wrapper-8 .tgl-skewed + .tgl-btn:before {
                left: 0;
                content: attr(data-tg-off);
            }

            .checkbox-wrapper-8 .tgl-skewed + .tgl-btn:active {
                background: #888;
            }

                .checkbox-wrapper-8 .tgl-skewed + .tgl-btn:active:before {
                    left: -10%;
                }

        .checkbox-wrapper-8 .tgl-skewed:checked + .tgl-btn {
            background: #86d993;
        }

            .checkbox-wrapper-8 .tgl-skewed:checked + .tgl-btn:before {
                left: -100%;
            }

            .checkbox-wrapper-8 .tgl-skewed:checked + .tgl-btn:after {
                left: 0;
            }

            .checkbox-wrapper-8 .tgl-skewed:checked + .tgl-btn:active:after {
                left: 10%;
            }
    </style>*@

<style>
    .switch {
        /* switch */
        --switch-width: 46px;
        --switch-height: 14px;
        --switch-bg: rgb(131, 131, 131);
        --switch-checked-bg: rgb(0, 218, 80);
        --switch-offset: calc((var(--switch-height) - var(--circle-diameter)) / 2);
        --switch-transition: all .2s cubic-bezier(0.27, 0.2, 0.25, 1.51);
        /* circle */
        --circle-diameter: 18px;
        --circle-bg: #fff;
        --circle-shadow: 1px 1px 2px rgba(146, 146, 146, 0.45);
        --circle-checked-shadow: -1px 1px 2px rgba(163, 163, 163, 0.45);
        --circle-transition: var(--switch-transition);
        /* icon */
        --icon-transition: all .2s cubic-bezier(0.27, 0.2, 0.25, 1.51);
        --icon-cross-color: var(--switch-bg);
        --icon-cross-size: 6px;
        --icon-checkmark-color: var(--switch-checked-bg);
        --icon-checkmark-size: 10px;
        /* effect line */
        --effect-width: calc(var(--circle-diameter) / 2);
        --effect-height: calc(var(--effect-width) / 2 - 1px);
        --effect-bg: var(--circle-bg);
        --effect-border-radius: 1px;
        --effect-transition: all .2s ease-in-out;
    }

        .switch input {
            display: none;
        }

    .switch {
        display: inline-block;
    }

        .switch svg {
            -webkit-transition: var(--icon-transition);
            -o-transition: var(--icon-transition);
            transition: var(--icon-transition);
            position: absolute;
            height: auto;
        }

        .switch .checkmark {
            width: var(--icon-checkmark-size);
            color: var(--icon-checkmark-color);
            -webkit-transform: scale(0);
            -ms-transform: scale(0);
            transform: scale(0);
        }

        .switch .cross {
            width: var(--icon-cross-size);
            color: var(--icon-cross-color);
        }

    .slider {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: var(--switch-width);
        height: var(--switch-height);
        background: var(--switch-bg);
        border-radius: 999px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: relative;
        -webkit-transition: var(--switch-transition);
        -o-transition: var(--switch-transition);
        transition: var(--switch-transition);
        cursor: pointer;
    }

    .circle {
        width: var(--circle-diameter);
        height: var(--circle-diameter);
        background: var(--circle-bg);
        border-radius: inherit;
        -webkit-box-shadow: var(--circle-shadow);
        box-shadow: var(--circle-shadow);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-transition: var(--circle-transition);
        -o-transition: var(--circle-transition);
        transition: var(--circle-transition);
        z-index: 1;
        position: absolute;
        left: var(--switch-offset);
    }

    .slider::before {
        content: "";
        position: absolute;
        width: var(--effect-width);
        height: var(--effect-height);
        left: calc(var(--switch-offset) + (var(--effect-width) / 2));
        background: var(--effect-bg);
        border-radius: var(--effect-border-radius);
        -webkit-transition: var(--effect-transition);
        -o-transition: var(--effect-transition);
        transition: var(--effect-transition);
    }

    /* actions */

    .switch input:checked + .slider {
        background: var(--switch-checked-bg);
    }

        .switch input:checked + .slider .checkmark {
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
        }

        .switch input:checked + .slider .cross {
            -webkit-transform: scale(0);
            -ms-transform: scale(0);
            transform: scale(0);
        }

        .switch input:checked + .slider::before {
            left: calc(100% - var(--effect-width) - (var(--effect-width) / 2) - var(--switch-offset));
        }

        .switch input:checked + .slider .circle {
            left: calc(100% - var(--circle-diameter) - var(--switch-offset));
            -webkit-box-shadow: var(--circle-checked-shadow);
            box-shadow: var(--circle-checked-shadow);
        }
</style>
<div class="">
    <table id="fixed-header-datatable" class="table table-striped dt-responsive nowrap table-striped w-100">
        <thead>
            <tr>
                <th>Tài khoản</th>
                <th>Họ tên</th>
                <th>Email</th>
                <th>SĐT</th>
                <th>Địa chỉ</th>
                <th>Quốc tịch</th>
                <th>CCCD/CMND</th>
                <th>Nơi cấp</th>
                <th>Ngày cấp</th>
                <th>Ngày tạo</th>
                <th>Trạng thái</th>
            </tr>
        </thead>

        <tbody>
            @{
                if (Model != null)
                {
                    var dt = Model as DataTable;
                    if (dt.Rows.Count > 0)
                    {
                        var i = 0;
                        foreach (DataRow item in dt.Rows)
                        {
                            <tr id="row_@i">
                                <td class="text-left">
                                    <span>@item["user_code"]</span>
                                </td>
                                <td class="text-left">
                                    <span>@item["user_name"]</span>
                                </td>
                                <td class="text-left">
                                    <span>@item["email"]</span>
                                </td>
                                <td class="text-left">
                                    <span>@item["phone_number"]</span>
                                </td>
                                <td class="text-left">
                                    <span>@item["address"]</span>
                                </td>
                                <td class="text-left">
                                    <span>@item["nationality"]</span>
                                </td>
                                <td class="text-left">
                                    <span>@item["cccd"]</span>
                                </td>
                                <td class="text-left">
                                    <span>@item["issued_by"]</span>
                                </td>
                                <td class="text-left">
                                    <span>@item["license_date"]</span>
                                </td>
                                <td class="text-left">
                                    <span>@item["create_date"]</span>
                                </td>
                                <td class="text-left">
                                    @*<div class="checkbox-wrapper-8">
                                            <input type="checkbox" id="switch_@i" class="tgl tgl-skewed" onclick="js_change_status(@item["id"],'@i')">
                                            <label for="switch_@i" data-tg-on="ON" data-tg-off="OFF" class="tgl-btn"></label>
                                        </div>*@
                                    <label class="switch">
                                        <input @(@item["status"].ToString() == "100" ? "checked" : "") type="checkbox" id="switch_@i" onclick="js_change_status(@item["id"],'@i')">
                                        <div class="slider">
                                            <div class="circle">
                                                <svg class="cross" xml:space="preserve" style="enable-background:new 0 0 512 512" viewBox="0 0 365.696 365.696" y="0" x="0" height="6" width="6" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                                <g>
                                                <path data-original="#000000" fill="currentColor" d="M243.188 182.86 356.32 69.726c12.5-12.5 12.5-32.766 0-45.247L341.238 9.398c-12.504-12.503-32.77-12.503-45.25 0L182.86 122.528 69.727 9.374c-12.5-12.5-32.766-12.5-45.247 0L9.375 24.457c-12.5 12.504-12.5 32.77 0 45.25l113.152 113.152L9.398 295.99c-12.503 12.503-12.503 32.769 0 45.25L24.48 356.32c12.5 12.5 32.766 12.5 45.247 0l113.132-113.132L295.99 356.32c12.503 12.5 32.769 12.5 45.25 0l15.081-15.082c12.5-12.504 12.5-32.77 0-45.25zm0 0"></path>
                                                </g>
                                                </svg>
                                                <svg class="checkmark" xml:space="preserve" style="enable-background:new 0 0 512 512" viewBox="0 0 24 24" y="0" x="0" height="10" width="10" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                                <g>
                                                <path class="" data-original="#000000" fill="currentColor" d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z"></path>
                                                </g>
                                                </svg>
                                            </div>
                                        </div>
                                    </label>
                                </td>
                            </tr>
                            i++;
                        }
                    }
                }
            }
        </tbody>
        @*<tfoot>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Salary</th>
                </tr>
            </tfoot>*@
    </table>
</div>