@using System.Data;
<div class="">
    <table id="fixed-header-datatable" class="table table-striped dt-responsive nowrap table-striped w-100">
        <thead>
            <tr>
                <th>Lấy dữ liệu từ</th>
                <th>ID Tài khoản</th>
                <th>App secret</th>
                <th>Access Token</th>
                <th>Lấy từ ngày</th>
                <th>Lưu trữ đến</th>
                <th>Link tài khoản</th>
                <th>Tên đăng nhập</th>
                <th>Mật khẩu</th>
                <th>Trạng thái</th>
                <th>Ngày đồng bộ gần nhất</th>
                <th style="width: 125px;">Action</th>
            </tr>
        </thead>

        <tbody>
            @{
                if (Model != null)
                {
                    var dt = Model as DataTable;
                    if (dt.Rows.Count > 0)
                    {
                        var i = 0;
                        foreach (DataRow item in dt.Rows)
                        {
                            <tr>
                                <td class="text-left">
                                    <span>@item["data_from"]</span>
                                </td>
                                <td class="text-left">
                                    <span>@item["acc_id_val"]</span>
                                </td>
                                <td class="text-left">
                                    <span>@item["app_secret"]</span>
                                </td>
                                <td class="text-left">
                                    <span>@item["access_token"]</span>
                                </td>
                                <td class="text-left">
                                    <span>@item["get_from_date"]</span>
                                </td>
                                <td class="text-left">
                                    <span>@item["data_to"]</span>
                                </td>
                                <td class="text-left">
                                    <span>@item["acc_link"]</span>
                                </td>
                                <td class="text-left">
                                    <span>@item["user_code"]</span>
                                </td>
                                <td class="text-left">
                                    <span>@item["password"]</span>
                                </td>
                                <td class="text-left">
                                    <span>@item["status"]</span>
                                </td>
                                <td class="text-left">
                                    <span>@item["create_date"]</span>
                                </td>
                                <td>
                                    <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                                    <a onclick="js_get_detail(@item["id"]);" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>
                                    <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                </td>
                            </tr>
                            i++;
                        }
                    }
                }
            }
        </tbody>
        @*<tfoot>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Salary</th>
                </tr>
            </tfoot>*@
    </table>
</div>